<script type="text/javascript">includeLatestJQuery('sakai-irubric');</script>
<script type="text/javascript"  src="/irubric-pt-tool/js/irubric.js"></script>

<script>
	$(document).ready(function() {
		resizeFrame(300);
	});
</script>

<ul class="navIntraTool actionToolBar" role="menu">
	
	<input type="hidden" id="gradebookUId" value="$gradebookUId" />

	<!--irubric home -->
	#if($isAllowiRubricHome)
	<li role="menuitem" class="firstToolBarItem">
		<!--set link my rubric-->
		<!---
		#set ($baseURL=$sakai_ActionURL.reset().setParameter("sakai_action", "doiRubricHome").toString())
		<span>
			<a href="$baseURL" title="$!tlang.getString('irub_home')"> 
				$!tlang.getString("irub_home") 
			</a>
		</span>
		--->
		<span>
			<a href="javascript:void(0);" onclick="openWindowiRubric('irubhome')"> 
				$!tlang.getString("irub_home") 
			</a>
		</span>
	</li>
	#end

	<!--allow my rubrics -->
	#if($isAllowMyRubrics)
	<li role="menuitem">
		#if(!$!view.equals("myr"))
			<!--set link my rubric-->
			#set ($baseURL=$sakai_ActionURL.reset().setParameter("sakai_action", "doMyrubric").toString())
			<span>
				<a href="$baseURL" title="$!tlang.getString('irub_myrub')">
					$!tlang.getString("irub_myrub")
				</a>
			</span>
		#else
			<span class="current">$!tlang.getString("irub_myrub")</span>
		#end
	</li>
	#end

	<!--allow access gallery -->
	#if($isAllowAccessGallery)
		<li role="menuitem" >
			#if(!$!view.equals("gly"))
				<!--set link gallery -->
				#set ($baseURL=$sakai_ActionURL.reset().setParameter("sakai_action", "doGallery").toString())
				<span >
					<a href="$baseURL" title="$!tlang.getString('irub_gly')">
						$!tlang.getString("irub_gly")
					</a>
				</span>
			#else
				<span class="current">$!tlang.getString("irub_gly")</span>
			#end
		</li>
	#end

	<!--allow access build rubric -->
	#if($isAllowBuild)
		<li role="menuitem">
			#if(!$!view.equals("bld"))
				<!--set link build rubric -->
				#set ($baseURL=$sakai_ActionURL.reset().setParameter("sakai_action", "doBuild").toString())
				<span>
					<a href="$baseURL" title="$!tlang.getString('irub_build')">
						$!tlang.getString("irub_build")
					</a>
				</span>
			#else
				<span class="current">$!tlang.getString("irub_build")</span>
			#end
		</li>
	#end

	<!--allow access collaborative assessment -->
	#if($isAllowAssessment)
		<li role="menuitem">
			<span>
				<a href="javascript:void(0);" onclick="openWindowiRubric('asm')" title="$!tlang.getString('irub_assessment')"> 
					$!tlang.getString("irub_assessment") 
				</a>
			</span>
		</li>
	#end

	<!--allow iRubric report-->
	#if($!isAllowReports)
		<li role="menuitem">
			<span>
				<a href="javascript:void(0);" onclick="openWindowiRubric('rpt')"> 
					$!tlang.getString("irub_rpt") 
				</a>
			</span>
		</li>
	#end
		
	<!--allow grades-->
	#if($!isAllowGrades)
		<li role="menuitem">
			#if(!$!view.equals("gradeall"))
				<!--set link grade all -->
				#set ($baseURL=$sakai_ActionURL.reset().setParameter("sakai_action", "doGradeAll").toString())
				<span>
					<a href="$baseURL" title="$tlang.getString('irub_grdall')">
						$!tlang.getString("irub_grdall")
					</a>
				</span>
			#else
				<span class="current">$!tlang.getString("irub_grdall")</span>
			#end
		</li>
	#end
	
	<!--allow update site(admin/instructor) -->
	#if ($isAllowUpdateSite)
		<li role="menuitem">
			#if(!$!view.equals("perms"))
				<!--set link permission -->
				#set ($baseURL=$sakai_ActionURL.reset().setParameter("sakai_action", "doPermissions").toString())
				<span>
					<a href="$baseURL" title="$tlang.getString('permis')">
						$tlang.getString('permis')
					</a>
				</span>
			#else
				<span class="current">$!tlang.getString("permis")</span>
			#end
		</li>
	#end

	#if ($isAllowMyePortfolios)
	<li role="menuitem">
		<span>
			<a href="javascript:void(0);" onclick="openWindowiRubric('myepo')"> 
				$!tlang.getString("irub_myepo") 
			</a>
		</span>
	</li>
	#end

	#if ($isAllowBuildePortfolios)
	<li role="menuitem">
		<span>
			<a href="javascript:void(0);" onclick="openWindowiRubric('bldepo')"> 
				$!tlang.getString("irub_bldepo") 
			</a>
		</span>
	</li>
	#end

	#if ($isAllowAssMatrices)
	<li role="menuitem">
		<span>
			<a href="javascript:void(0);" onclick="openWindowiRubric('amtx')"> 
				$!tlang.getString("irub_amtx") 
			</a>
		</span>
	</li>
	#end
</ul>
